body{
  background-color: lightpink;
  font-family: cursiva;
  text-align: left;
 }

#fotos{
    width: 75%;
    height: auto;
 }  

#info{
  margin-right: 150px;
}
aside{
  background-color: lightblue;
  color: black;
  float: right;
widht:150px;
height:200px;
}
